body{
  background-color:#777;
  text-align: center;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  color:black;
  width:960px;
  margin:auto;
 padding:0;

}

.sectionHeader{
  background-color:#ebebeb;
  padding:20px 30px 20px 30px;
  margin-top:10px;
  margin-bottom:15px;


}

.nav {
  background-color:#ebebeb;
  padding:20px 30px 20px 30px;
  margin-top:10px;
  margin-bottom:15px;
}

.parent-box{
  float:left;
  background-color:#ebebeb;
  width:350px;
  padding:59px;
}

.child-box {
  background-color:#777;
  color:black;
  padding:45px;
}

.grand-child-box{
  background-color:white;

}

.myarticleheaders
{
  padding:10px;
  margin:3px;
  background-color:#ebebeb;
}


.mypinarticle
{
  padding:10px;
  margin:3px;
  background-color:#ebebeb;
}
.clear::after{
  content:"";
  display: block;
  clear: both;
}

.moveright{
  background-color:#ebebeb;
  width:480px;
  height:335px;
  color:gray;
  margin:0px 0px 5px 5px;
  float: right;
}

.footer{
  background-color:#ebebeb;
  padding:20px 30px 20px 30px;
  height:10px;
}
